.idea/*
/bootstrap/compiled.php
/vendor
/node_modules
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

tests/_output/*

Envoy.blade.php

public/assets/css/*
public/assets/js/*
app/assets/css/dist/*
asset_manifest.json
