html, body {
  /* for sticky footer */
  height: 100%;
  font-size: 13px;
  color: #333333;
  font-family: "Helvetica Neue", Verdana, 微软雅黑, Arial, sans-serif;
  background: #e5e5e5; }

.empty-block {
  border: 3px dotted #ccc;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  color: #ccc; }

.box {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0px 2px rgba(0, 0, 0, 0.07); }

.panel {
  border: none; }

.loading {
  font-size: 16px; }

.emoji {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  margin-bottom: 0; }

.divider {
  border-bottom: 1px solid #ddd; }

.main-col {
  padding-left: 0px; }

.side-bar {
  padding-left: 0px;
  padding-right: 0px; }

.add-padding-vertically {
  padding-left: 15px;
  padding-right: 15px; }

.remove-padding-bottom {
  padding-bottom: 0px; }

.remove-padding-left {
  padding-left: 0px !important; }

.remove-padding-horizontal {
  padding-bottom: 0px;
  padding-top: 0px; }

.remove-padding-vertically {
  padding-left: 0px;
  padding-right: 0px; }

.remove-margin-bottom {
  margin-bottom: 0; }

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px; }
  #wrap .avatar {
    padding: 1px; }

.meta, .operate {
  color: #d0d0d0;
  font-size: 12px; }
  .meta a, .operate a {
    padding: 1px 5px;
    color: #778087;
    text-decoration: none; }
  .meta .timeago, .operate .timeago {
    font-size: 11px; }

.badge-reply-count {
  margin: 15px 20px;
  background-color: #8BAFCE; }

.panel .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  /* border-color: #F5F5F5; */
  border: 1px solid #ddd;
  border-bottom: none; }
  .panel .panel-heading h3 {
    color: #999;
    font-size: 14px; }
.panel .panel-body {
  border: 1px solid #ddd; }
.panel .panel-footer {
  border-top: none; }

.list-panel .panel-body {
  padding: 0px 15px; }

.list-group {
  margin-bottom: 0px; }
  .list-group .list-group-item {
    padding: 10px 15px;
    border: none;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd; }
  .list-group .list-group-item:first-child {
    -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px; }

#footer {
  height: 60px;
  background-color: #f5f5f5; }

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px dotted #e5e5e5; }

embed {
  display: none; }

.navbar {
  min-height: 40px;
  -webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1); }
  .navbar .btn {
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .navbar .navbar-brand {
    height: 38px;
    padding-top: 11px; }
  .navbar .nav > li > a {
    float: none;
    padding: 12px 10px 9px;
    line-height: 19px;
    color: #444;
    text-decoration: none; }
  .navbar .navbar-nav.navbar-right:last-child {
    margin-right: 0px; }
  .navbar .github-login .btn {
    margin-top: 5px;
    font-size: 13px;
    padding: 5px 12px; }
    .navbar .github-login .btn i {
      font-size: 14px; }
  .navbar .navbar-form {
    padding: 0px 20px;
    margin-top: 7px;
    margin-bottom: 4px; }
    .navbar .navbar-form .form-control {
      font-size: 13px;
      height: 28px;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
    .navbar .navbar-form .btn {
      font-size: 13px;
      color: #808080;
      padding: 4px 9px; }
    .navbar .navbar-form .mac-style {
      width: 180px;
      -webkit-transition: width 1s ease-in-out;
              transition: width 1s ease-in-out; }
    .navbar .navbar-form .mac-style:focus {
      width: 260px; }

.node-panel dt {
  color: #999;
  font-weight: normal; }
.node-panel .divider {
  margin-bottom: 15px; }

.topics-index .topic-filter {
  color: #d0d0d0;
  font-size: 12px; }
  .topics-index .topic-filter a {
    padding: 1px 2px;
    color: #778087;
    text-decoration: none; }
  .topics-index .topic-filter .selected {
    color: #C0C0C0; }
.topics-index .pager-footer .pagination {
  margin: 9px 0; }

.alert {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19); }

.side-bar ul.list {
  margin: 0;
  padding-left: 11px; }
  .side-bar ul.list li {
    margin-bottom: 4px;
    line-height: 18px; }

.topics-show .topic-title {
  font-size: 22px;
  color: #333;
  text-align: left;
  line-height: 100%;
  margin-bottom: 8px;
  font-weight: bold; }
.topics-show .ribbon {
  margin-top: 20px;
  margin-bottom: -15px; }
  .topics-show .ribbon .ribbon-excellent {
    background: #fffce9;
    border-top: 1px solid #fff3e6;
    border-bottom: 1px solid #fff3e6;
    margin: 0px -15px 10px -15px;
    padding: 4px 15px;
    color: #da974d;
    font-size: 12px; }
  .topics-show .ribbon .ribbon-wiki {
    background: #d9edf7;
    border-top: 1px solid #bce8f1;
    border-bottom: 1px solid #bce8f1;
    margin: 0px -15px 10px -15px;
    padding: 4px 15px;
    color: #31708f;
    font-size: 12px; }

.replies-index .operate a {
  color: #d0d0d0; }

.users-show .users-show-avatar {
  margin: 4px 54px 0px 0px; }
.users-show dl dt {
  width: 110px;
  font-weight: normal;
  color: #bbb; }
.users-show dl dd {
  margin-left: 127px; }
.users-show dl dt, .users-show dl dd {
  font-size: 14px;
  line-height: 180%;
  border-bottom: 1px dashed #eee; }
.users-show .user-info-nav {
  border: none; }

@media (min-width: 1000px) {
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1000px; } }

@media (max-width: 640px) {
  .col-xs-6 {
    width: 100%;
    float: none; } }

@media (max-width: 768px) {
  .node-panel .remove-padding-vertically {
    padding-left: 15px;
    padding-right: 15px; }
  .main-col {
    padding-left: 0px;
    padding-right: 0px; }
  .side-bar {
    padding-left: 0px;
    padding-right: 0px; }
  ul.topic-filter {
    float: left !important;
    margin-top: 2px; }
    ul.topic-filter li {
      padding-left: 1px;
      padding-right: 0px;
      font-size: 11px; }
  .badge-reply-count {
    margin: 20px 0px; }
  .users-index .col-md-1.remove-padding-right {
    float: left; }
  .users-show dl dd {
    margin-left: inherit; } }
