html, body {
  /* for sticky footer */
  height: 100%;
  font-size: 13px;
  color: #333333;
  font-family: "Heiti SC Light", "Helvetica Neue", Verdana, 微软雅黑, Arial, sans-serif;
  background: #e5e5e5; }

.topic-list .list-group-item {
  height: 71px; }

a.stats {
  display: block;
  margin-top: 10px;
  color: #888;
  margin-right: 18px; }
  a.stats i.fa {
    font-size: 15px; }

a.stats:hover {
  text-decoration: none; }

.col-sm-6 a.stats {
  margin-right: 0px; }

.deleted {
  color: #aaa;
  text-decoration: line-through;
  font-size: 12px;
  text-align: center; }

.inline-block {
  display: inline-block; }

textarea.form-control {
  font-size: 13px; }

ul.list {
  margin: 0;
  padding-left: 11px; }
  ul.list li {
    margin-bottom: 4px;
    line-height: 16px; }

.display-none {
  display: none; }

.red {
  color: red; }

.badge-important {
  background-color: #d15b47 !important; }

.badge-fade {
  background-color: #EBE8E8; }

.empty-block {
  border: 3px dotted #ccc;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  color: #ccc; }

.box {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0px 2px rgba(0, 0, 0, 0.07); }

.panel {
  border: none; }

.loading {
  font-size: 16px; }

.emoji {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  margin-bottom: 0; }

.divider {
  border-bottom: 1px solid #ddd; }

.main-col {
  padding-left: 0px; }

.side-bar {
  padding-left: 0px;
  padding-right: 0px; }

.left-col {
  padding-left: 15px;
  padding-right: 0px; }

.add-padding-vertically {
  padding-left: 15px;
  padding-right: 15px; }

.remove-padding-bottom {
  padding-bottom: 0px; }

.remove-padding-left {
  padding-left: 0px !important; }

.remove-padding-horizontal {
  padding-bottom: 0px;
  padding-top: 0px; }

.remove-padding-vertically {
  padding-left: 0px;
  padding-right: 0px; }

.remove-margin-bottom {
  margin-bottom: 0; }

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 80px; }
  #wrap .avatar {
    padding: 1px; }

.meta, .operate {
  color: #d0d0d0;
  font-size: 12px; }
  .meta a, .operate a {
    padding: 1px 2px;
    color: #778087;
    text-decoration: none; }
  .meta .timeago, .operate .timeago {
    font-size: 11px; }
  .meta a.anchor, .operate a.anchor {
    color: #d0d0d0; }

.operate .active {
  color: #ce8a81; }
.operate .fa {
  font-size: 15px; }
.operate a.admin {
  display: inline-block;
  margin-left: 11px; }

.badge-reply-count {
  margin: 15px 20px;
  background-color: #8BAFCE; }

.panel .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  /* border-color: #F5F5F5; */
  border: 1px solid #ddd;
  border-bottom: none; }
  .panel .panel-heading h3 {
    color: #999;
    font-size: 14px; }
.panel .panel-body {
  border: 1px solid #ddd; }
.panel .panel-footer {
  border-top: none; }

.list-panel .panel-body {
  padding: 0px 15px; }

.list-group {
  margin-bottom: 0px; }
  .list-group .list-group-item {
    padding: 10px 15px;
    border: none;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd; }
  .list-group .list-group-item:first-child {
    -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px; }

#footer {
  height: 80px;
  background-color: #f5f5f5; }

.footer {
  padding-top: 22px;
  color: #8A8A8A;
  border-top: 1px dotted #e5e5e5; }
  .footer i {
    font-size: 110%; }

embed {
  display: none; }

.topnav {
  min-height: 40px;
  -webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1); }
  .topnav .btn {
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .topnav .navbar-brand {
    height: 38px;
    padding-top: 11px; }
  .topnav .nav > li > a {
    float: none;
    padding: 12px 10px 9px;
    line-height: 19px;
    color: #444;
    text-decoration: none; }
  .topnav .navbar-nav.navbar-right:last-child {
    margin-right: 0px; }
  .topnav .github-login .btn {
    margin-top: 5px;
    font-size: 13px;
    padding: 5px 12px; }
    .topnav .github-login .btn i {
      font-size: 14px; }
  .topnav .navbar-form {
    padding: 0px 20px;
    margin-top: 7px;
    margin-bottom: 4px; }
    .topnav .navbar-form .form-control {
      font-size: 13px;
      height: 28px;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
    .topnav .navbar-form .btn {
      font-size: 13px;
      color: #808080;
      padding: 4px 9px; }
    .topnav .navbar-form .mac-style {
      width: 180px;
      -webkit-transition: width 1s ease-in-out;
              transition: width 1s ease-in-out; }
    .topnav .navbar-form .mac-style:focus {
      width: 260px; }

.node-panel dt {
  color: #999;
  font-weight: normal; }
.node-panel .divider {
  margin-bottom: 15px; }

.topics-index .topic-filter {
  color: #d0d0d0;
  font-size: 12px; }
  .topics-index .topic-filter a {
    padding: 1px 2px;
    color: #778087;
    text-decoration: none; }
  .topics-index .topic-filter .selected {
    color: #C0C0C0; }
.topics-index .pager-footer .pagination {
  margin: 9px 0; }

.alert {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19); }

.side-bar ul.list {
  margin: 0;
  padding-left: 11px; }
  .side-bar ul.list li {
    margin-bottom: 4px;
    line-height: 18px; }

.topics-show .topic-title {
  font-size: 22px;
  color: #333;
  text-align: left;
  line-height: 100%;
  margin-bottom: 8px;
  font-weight: bold; }
.topics-show .ribbon {
  margin-top: 20px;
  margin-bottom: -15px; }
  .topics-show .ribbon .ribbon-excellent {
    background: #fffce9;
    border-top: 1px solid #fff3e6;
    border-bottom: 1px solid #fff3e6;
    margin: 0px -15px 10px -15px;
    padding: 4px 15px;
    color: #da974d;
    font-size: 12px; }
  .topics-show .ribbon .ribbon-wiki {
    background: #d9edf7;
    border-top: 1px solid #bce8f1;
    border-bottom: 1px solid #bce8f1;
    margin: 0px -15px 10px -15px;
    padding: 4px 15px;
    color: #31708f;
    font-size: 12px; }

.replies-index .operate a {
  color: #d0d0d0; }

.users-show .users-show-avatar {
  margin: 4px 54px 0px 0px; }
.users-show dl dt {
  width: 110px;
  font-weight: normal;
  color: #bbb; }
.users-show dl dd {
  margin-left: 127px; }
.users-show dl dt, .users-show dl dd {
  font-size: 13px;
  line-height: 150%;
  border-bottom: 1px dashed #eee; }
.users-show .user-info-nav {
  border: none; }
.users-show .dl-horizontal dt {
  width: 50px;
  white-space: nowrap;
  font-weight: normal;
  color: #999; }
.users-show .dl-horizontal dd {
  margin-left: 58px; }

.editor-tool {
  margin-left: 0px; }
  .editor-tool li {
    font-size: 12px;
    line-height: 1;
    text-align: center; }
  .editor-tool li.active {
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
  .editor-tool li > a {
    color: #666; }

.notification-index .list-group .list-group-item {
  padding: 7px 15px; }

@media (min-width: 1000px) {
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1000px; } }

@media (max-width: 768px) {
  .topnav .github-login .btn {
    margin-left: 12px;
    margin-bottom: 7px; }
  .topnav .nav > li {
    display: inline-block; }
  .topnav .navbar-collapse {
    padding-right: 15px;
    padding-left: 22px;
    word-spacing: 2px;
    padding-right: 18px; }
  .topnav .navbar-form {
    padding-left: 18px;
    margin-left: -22px; }
    .topnav .navbar-form .form-group {
      display: inline-block;
      margin-top: 11px;
      margin-bottom: 11px; }
    .topnav .navbar-form .mac-style {
      width: 200px; }
    .topnav .navbar-form .mac-style:focus {
      width: 220px; }
  .col-xs-6 {
    width: 100%;
    float: none; }
  .node-panel .remove-padding-vertically {
    padding-left: 15px;
    padding-right: 15px; }
  .main-col {
    padding-left: 0px;
    padding-right: 0px; }
  .side-bar {
    padding-left: 0px;
    padding-right: 0px; }
  ul.topic-filter {
    float: left !important;
    margin-top: 2px; }
    ul.topic-filter li {
      padding-left: 1px;
      padding-right: 0px;
      font-size: 11px; }
  .badge-reply-count {
    margin: 20px 0px; }
  .users-index .col-md-1.remove-padding-right {
    float: left; }
  .users-show dl dd {
    margin-left: inherit; }
  .users-show .dl-horizontal dd {
    margin-left: 0px; } }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .topnav ul.github-login {
    margin-right: -15px !important; }
    .topnav ul.github-login .btn {
      margin-bottom: 5px; }
  .topnav .navbar-form {
    margin-left: 0px; }
    .topnav .navbar-form .form-group {
      display: inline-block;
      margin-top: 0px;
      margin-bottom: 0px; }
    .topnav .navbar-form .mac-style {
      width: 120px; }
    .topnav .navbar-form .mac-style:focus {
      width: 150px; }
  .users-show .dl-horizontal dd {
    margin-left: 58px; } }

.votes {
  display: inline-block;
  margin-right: 8px; }

.vote:link, .vote:visited, .vote {
  text-decoration: none;
  font-size: 10px;
  line-height: 1;
  padding: 2px 8px 2px 8px;
  border: 1px solid #C4C4C4;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #778;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  background-color: #fff; }

.vote:hover {
  color: #667;
  border: 1px solid #667;
  text-decoration: none;
  background-color: #F0F0F0; }

.vote:active {
  background-color: #f0f0f0;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset; }

.vote.active {
  background-color: #698ebf;
  color: white;
  border: 1px solid #E7E7E7; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 120px) and (max-device-width: 480px) {
  .container {
    padding: 0 7px; }
  .meta, .operate {
    float: none !important;
    display: block; }
  .markdown-reply p {
    margin-bottom: 0px !important; }
  .list-group .list-group-item {
    padding: 8px 8px; }
  .media > .pull-left {
    margin-right: 6px; }
  .navbar .container:before, .navbar .container:after, .navbar .container-fluid:before, .navbar .navbar-header:before, .navbar .navbar-header:after, .navbar .navbar-collapse:before, .navbar .navbar-collapse:after {
    display: table;
    content: initial; }
  .topnav .navbar-brand {
    height: 38px;
    padding-top: 15px;
    padding-left: 25px; }
  .topnav .navbar-collapse {
    /* padding-right: 15px; */
    /* padding-left: 22px; */
    /* word-spacing: 2px; */
    padding-right: 18px;
    text-align: right;
    margin-right: 0px; }
  .topnav .nav > li {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    word-spacing: 0px; }
  .topnav .nav > li > a {
    padding: 8px 10px 9px;
    line-height: 15px; }
  .topnav .navbar-form {
    display: none; }
  .topnav .github-login {
    text-align: right; }
  .topnav .navbar-nav.navbar-right:last-child {
    margin-right: -15px; }
  .topnav, .box, .panel {
    margin-bottom: 12px; } }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) { }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) { }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) { }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) { }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { }

/* Image style */
#scrollUp {
  background-image: url("../images/top.png");
  bottom: 20px;
  right: 20px;
  width: 38px;
  /* Width of image */
  height: 38px;
  /* Height of image */
  text-indent: -999999px; }
