.markdown-body, .markdown-reply {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.4;
  color: #333333;
  overflow: hidden;
  line-height: 1.6;
  word-wrap: break-word; }
  .markdown-body a, .markdown-reply a {
    background: transparent; }
  .markdown-body a:active, .markdown-body a:hover, .markdown-reply a:active, .markdown-reply a:hover {
    outline: 0; }
  .markdown-body strong, .markdown-reply strong {
    font-weight: bold; }
  .markdown-body h1, .markdown-reply h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  .markdown-body img, .markdown-reply img {
    border: 0; }
  .markdown-body hr, .markdown-reply hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 0; }
  .markdown-body pre, .markdown-reply pre {
    overflow: auto; }
  .markdown-body code, .markdown-body pre, .markdown-reply code, .markdown-reply pre {
    font-family: monospace, monospace;
    font-size: 1em; }
  .markdown-body table, .markdown-reply table {
    border-collapse: collapse;
    border-spacing: 0; }
  .markdown-body td, .markdown-body th, .markdown-reply td, .markdown-reply th {
    padding: 0; }
  .markdown-body *, .markdown-reply * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .markdown-body a, .markdown-reply a {
    color: #4183c4;
    text-decoration: none; }
  .markdown-body a:hover, .markdown-body a:focus, .markdown-body a:active, .markdown-reply a:hover, .markdown-reply a:focus, .markdown-reply a:active {
    text-decoration: underline; }
  .markdown-body hr, .markdown-reply hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd; }
  .markdown-body hr:before, .markdown-body hr:after, .markdown-reply hr:before, .markdown-reply hr:after {
    display: table;
    content: " "; }
  .markdown-body hr:after, .markdown-reply hr:after {
    clear: both; }
  .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6, .markdown-reply h1, .markdown-reply h2, .markdown-reply h3, .markdown-reply h4, .markdown-reply h5, .markdown-reply h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1; }
  .markdown-body h1, .markdown-reply h1 {
    font-size: 30px; }
  .markdown-body h2, .markdown-reply h2 {
    font-size: 21px; }
  .markdown-body h3, .markdown-reply h3 {
    font-size: 16px; }
  .markdown-body h4, .markdown-reply h4 {
    font-size: 14px; }
  .markdown-body h5, .markdown-reply h5 {
    font-size: 12px; }
  .markdown-body h6, .markdown-reply h6 {
    font-size: 11px; }
  .markdown-body blockquote, .markdown-reply blockquote {
    margin: 0; }
  .markdown-body ul, .markdown-body ol, .markdown-reply ul, .markdown-reply ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; }
  .markdown-body ol ol, .markdown-reply ol ol {
    list-style-type: lower-roman; }
  .markdown-body dd, .markdown-reply dd {
    margin-left: 0; }
  .markdown-body code, .markdown-body pre, .markdown-reply code, .markdown-reply pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }
  .markdown-body pre, .markdown-reply pre {
    margin-top: 0;
    margin-bottom: 0; }
  .markdown-body .markdown-body > *:first-child, .markdown-reply .markdown-body > *:first-child {
    margin-top: 0 !important; }
  .markdown-body .markdown-body > *:last-child, .markdown-reply .markdown-body > *:last-child {
    margin-bottom: 0 !important; }
  .markdown-body .anchor, .markdown-reply .anchor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px; }
  .markdown-body .anchor:focus, .markdown-reply .anchor:focus {
    outline: none; }
  .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6, .markdown-reply h1, .markdown-reply h2, .markdown-reply h3, .markdown-reply h4, .markdown-reply h5, .markdown-reply h6 {
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4; }
  .markdown-body h1, .markdown-reply h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee; }
  .markdown-body h2, .markdown-reply h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee; }
  .markdown-body h3, .markdown-reply h3 {
    font-size: 1.5em;
    line-height: 1.43; }
  .markdown-body h4, .markdown-reply h4 {
    font-size: 1.25em; }
  .markdown-body h5, .markdown-reply h5 {
    font-size: 1em; }
  .markdown-body h6, .markdown-reply h6 {
    font-size: 1em;
    color: #777; }
  .markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre, .markdown-reply p, .markdown-reply blockquote, .markdown-reply ul, .markdown-reply ol, .markdown-reply dl, .markdown-reply table, .markdown-reply pre {
    margin-top: 0;
    margin-bottom: 10px; }
  .markdown-body hr, .markdown-reply hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none; }
  .markdown-body ul, .markdown-body ol, .markdown-reply ul, .markdown-reply ol {
    padding-left: 2em; }
  .markdown-body ol ol, .markdown-body ol ul, .markdown-reply ol ol, .markdown-reply ol ul {
    margin-top: 0;
    margin-bottom: 0; }
  .markdown-body li > p, .markdown-reply li > p {
    margin-top: 16px; }
  .markdown-body dl, .markdown-reply dl {
    padding: 0; }
  .markdown-body dl dt, .markdown-reply dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold; }
  .markdown-body dl dd, .markdown-reply dl dd {
    padding: 0 16px;
    margin-bottom: 16px; }
  .markdown-body blockquote, .markdown-reply blockquote {
    font-size: inherit;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd; }
  .markdown-body blockquote > :first-child, .markdown-reply blockquote > :first-child {
    margin-top: 0; }
  .markdown-body blockquote > :last-child, .markdown-reply blockquote > :last-child {
    margin-bottom: 0; }
  .markdown-body table, .markdown-reply table {
    display: block;
    width: 100%;
    overflow: auto; }
  .markdown-body table th, .markdown-reply table th {
    font-weight: bold; }
  .markdown-body table th, .markdown-body table td, .markdown-reply table th, .markdown-reply table td {
    padding: 6px 13px;
    border: 1px solid #ddd; }
  .markdown-body table tr, .markdown-reply table tr {
    background-color: #fff;
    border-top: 1px solid #ccc; }
  .markdown-body table tr:nth-child(2n), .markdown-reply table tr:nth-child(2n) {
    background-color: #f8f8f8; }
  .markdown-body img, .markdown-reply img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .markdown-body code, .markdown-reply code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .markdown-body code:before, .markdown-body code:after, .markdown-reply code:before, .markdown-reply code:after {
    letter-spacing: -0.2em;
    content: "\00a0"; }
  .markdown-body pre > code, .markdown-reply pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    white-space: pre;
    background: transparent;
    border: 0; }
  .markdown-body .highlight, .markdown-reply .highlight {
    margin-bottom: 16px; }
  .markdown-body .highlight pre, .markdown-body pre, .markdown-reply .highlight pre, .markdown-reply pre {
    padding: 14px;
    overflow: auto;
    line-height: 1.45;
    background-color: #4e4e4e;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #fff;
    border: 1px dashed #ccc; }
  .markdown-body .highlight pre, .markdown-reply .highlight pre {
    margin-bottom: 0; }
  .markdown-body pre, .markdown-reply pre {
    word-wrap: normal; }
  .markdown-body pre code, .markdown-reply pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }
  .markdown-body pre code:before, .markdown-body pre code:after, .markdown-reply pre code:before, .markdown-reply pre code:after {
    content: normal; }
  .markdown-body .highlight, .markdown-reply .highlight {
    background: #ffffff; }
  .markdown-body .highlight .c, .markdown-reply .highlight .c {
    color: #999988;
    font-style: italic; }
  .markdown-body .highlight .err, .markdown-reply .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .markdown-body .highlight .k, .markdown-reply .highlight .k {
    font-weight: bold; }
  .markdown-body .highlight .o, .markdown-reply .highlight .o {
    font-weight: bold; }
  .markdown-body .highlight .cm, .markdown-reply .highlight .cm {
    color: #999988;
    font-style: italic; }
  .markdown-body .highlight .cp, .markdown-reply .highlight .cp {
    color: #999999;
    font-weight: bold; }
  .markdown-body .highlight .c1, .markdown-reply .highlight .c1 {
    color: #999988;
    font-style: italic; }
  .markdown-body .highlight .cs, .markdown-reply .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  .markdown-body .highlight .gd, .markdown-reply .highlight .gd {
    color: #000000;
    background-color: #ffdddd; }
  .markdown-body .highlight .gd .x, .markdown-reply .highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa; }
  .markdown-body .highlight .ge, .markdown-reply .highlight .ge {
    font-style: italic; }
  .markdown-body .highlight .gr, .markdown-reply .highlight .gr {
    color: #aa0000; }
  .markdown-body .highlight .gh, .markdown-reply .highlight .gh {
    color: #999999; }
  .markdown-body .highlight .gi, .markdown-reply .highlight .gi {
    color: #000000;
    background-color: #ddffdd; }
  .markdown-body .highlight .gi .x, .markdown-reply .highlight .gi .x {
    color: #000000;
    background-color: #aaffaa; }
  .markdown-body .highlight .go, .markdown-reply .highlight .go {
    color: #888888; }
  .markdown-body .highlight .gp, .markdown-reply .highlight .gp {
    color: #555555; }
  .markdown-body .highlight .gs, .markdown-reply .highlight .gs {
    font-weight: bold; }
  .markdown-body .highlight .gu, .markdown-reply .highlight .gu {
    color: #800080;
    font-weight: bold; }
  .markdown-body .highlight .gt, .markdown-reply .highlight .gt {
    color: #aa0000; }
  .markdown-body .highlight .kc, .markdown-reply .highlight .kc {
    font-weight: bold; }
  .markdown-body .highlight .kd, .markdown-reply .highlight .kd {
    font-weight: bold; }
  .markdown-body .highlight .kn, .markdown-reply .highlight .kn {
    font-weight: bold; }
  .markdown-body .highlight .kp, .markdown-reply .highlight .kp {
    font-weight: bold; }
  .markdown-body .highlight .kr, .markdown-reply .highlight .kr {
    font-weight: bold; }
  .markdown-body .highlight .kt, .markdown-reply .highlight .kt {
    color: #445588;
    font-weight: bold; }
  .markdown-body .highlight .m, .markdown-reply .highlight .m {
    color: #009999; }
  .markdown-body .highlight .s, .markdown-reply .highlight .s {
    color: #dd1144; }
  .markdown-body .highlight .n, .markdown-reply .highlight .n {
    color: #333333; }
  .markdown-body .highlight .na, .markdown-reply .highlight .na {
    color: teal; }
  .markdown-body .highlight .nb, .markdown-reply .highlight .nb {
    color: #0086b3; }
  .markdown-body .highlight .nc, .markdown-reply .highlight .nc {
    color: #445588;
    font-weight: bold; }
  .markdown-body .highlight .no, .markdown-reply .highlight .no {
    color: teal; }
  .markdown-body .highlight .ni, .markdown-reply .highlight .ni {
    color: purple; }
  .markdown-body .highlight .ne, .markdown-reply .highlight .ne {
    color: #990000;
    font-weight: bold; }
  .markdown-body .highlight .nf, .markdown-reply .highlight .nf {
    color: #990000;
    font-weight: bold; }
  .markdown-body .highlight .nn, .markdown-reply .highlight .nn {
    color: #555555; }
  .markdown-body .highlight .nt, .markdown-reply .highlight .nt {
    color: navy; }
  .markdown-body .highlight .nv, .markdown-reply .highlight .nv {
    color: teal; }
  .markdown-body .highlight .ow, .markdown-reply .highlight .ow {
    font-weight: bold; }
  .markdown-body .highlight .w, .markdown-reply .highlight .w {
    color: #bbbbbb; }
  .markdown-body .highlight .mf, .markdown-reply .highlight .mf {
    color: #009999; }
  .markdown-body .highlight .mh, .markdown-reply .highlight .mh {
    color: #009999; }
  .markdown-body .highlight .mi, .markdown-reply .highlight .mi {
    color: #009999; }
  .markdown-body .highlight .mo, .markdown-reply .highlight .mo {
    color: #009999; }
  .markdown-body .highlight .sb, .markdown-reply .highlight .sb {
    color: #dd1144; }
  .markdown-body .highlight .sc, .markdown-reply .highlight .sc {
    color: #dd1144; }
  .markdown-body .highlight .sd, .markdown-reply .highlight .sd {
    color: #dd1144; }
  .markdown-body .highlight .s2, .markdown-reply .highlight .s2 {
    color: #dd1144; }
  .markdown-body .highlight .se, .markdown-reply .highlight .se {
    color: #dd1144; }
  .markdown-body .highlight .sh, .markdown-reply .highlight .sh {
    color: #dd1144; }
  .markdown-body .highlight .si, .markdown-reply .highlight .si {
    color: #dd1144; }
  .markdown-body .highlight .sx, .markdown-reply .highlight .sx {
    color: #dd1144; }
  .markdown-body .highlight .sr, .markdown-reply .highlight .sr {
    color: #009926; }
  .markdown-body .highlight .s1, .markdown-reply .highlight .s1 {
    color: #dd1144; }
  .markdown-body .highlight .ss, .markdown-reply .highlight .ss {
    color: #990073; }
  .markdown-body .highlight .bp, .markdown-reply .highlight .bp {
    color: #999999; }
  .markdown-body .highlight .vc, .markdown-reply .highlight .vc {
    color: teal; }
  .markdown-body .highlight .vg, .markdown-reply .highlight .vg {
    color: teal; }
  .markdown-body .highlight .vi, .markdown-reply .highlight .vi {
    color: teal; }
  .markdown-body .highlight .il, .markdown-reply .highlight .il {
    color: #009999; }
  .markdown-body .highlight .gc, .markdown-reply .highlight .gc {
    color: #999;
    background-color: #EAF2F5; }

.markdown-reply h1, .markdown-reply h2, .markdown-reply h3, .markdown-reply h4, .markdown-reply h5, .markdown-reply h6 {
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4; }
.markdown-reply h1 {
  padding-bottom: 0.3em;
  font-size: 1.4em;
  line-height: 1.2;
  border-bottom: 1px solid #eee; }
.markdown-reply h2 {
  padding-bottom: 0.3em;
  font-size: 1.25em;
  line-height: 1.225;
  border-bottom: 1px solid #eee; }
.markdown-reply h3 {
  font-size: 1.2em;
  line-height: 1.43; }
.markdown-reply h4 {
  font-size: 1.1em; }
.markdown-reply h5 {
  font-size: 1em; }
.markdown-reply h6 {
  font-size: 1em;
  color: #777; }
